@import '../variables.scss';

.task_card {
  border: 1px solid gray;
  border-radius: 6px;
  padding: 8px;
  max-width: 30.3vw;
  margin-bottom: 10px;

  .title {
    margin-bottom: 1rem;
    max-width: 80%;
    overflow-wrap: break-word;
    @include tablet_screens {
      font-size: 22px;
    }
  }
  .bottom_container {
    display: flex;
    justify-content: space-between;
    .buttons_container {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;

      max-width: 80%;
      .tag_btn {
        padding: 2px 6px;
        border-radius: 3px;
        border: 1px solid rgb(172, 170, 170);
      }
    }
    .delete_icon {
      align-self: self-end;

      color: rgb(236, 143, 143);
      cursor: pointer;
      @include tablet_screens {
        font-size: 26px;
      }
    }
  }
}
