@import '../variables.scss';

.task_tag {
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 2px 6px;
  border-radius: 3px;
  border: 1px solid rgb(172, 170, 170);
  cursor: pointer;
  @include desktop_screens {
    font-size: 16px;
    padding: 3px 8px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}
