/*  google fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import './variables.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Raleway', sans-serif;
}
.App {
  display: flex;
  flex-direction: column;

  .header {
    padding: 10px 0;
    .form {
      display: flex;
      flex-direction: column;
      width: 100vw;
      gap: 1rem;

      .text_input {
        display: block;
        margin: 0 auto;
        min-width: 80%;
        padding: 5px 12px;
        background-color: rgb(242, 241, 241);
        font-size: 16px;
        border: 2px rgb(206, 204, 204) solid;
        border-radius: 5px;
        outline: none;
        transition: all 0.3s ease-in-out;
        &:focus {
          border: 2px #5dd55d solid;
        }
        &::placeholder {
          color: rgb(102, 98, 98);
        }
        @include tablet_screens {
          min-width: 40%;
        }
        @include desktop_screens {
          font-size: 22px;
        }
      }
      .bottom_container {
        display: flex;
        justify-content: center;

        gap: 12px;

        width: 80%;
        margin: 0 auto;
        padding-bottom: 1rem;
        @include tablet_screens {
          width: 40%;
        }
        .tags_container {
          flex: 1;
        }

        .tag-btn {
          margin-left: 5px;
          margin-bottom: 5px;
          padding: 2px 6px;
          border-radius: 3px;
          border: 1px solid rgb(172, 170, 170);
          @include desktop_screens {
            font-size: 16px;
            padding: 3px 8px;
            margin-left: 10px;
            margin-bottom: 10px;
          }
        }
        .select {
          padding: 8px 12px;
          align-self: center;
          border-radius: 3px;
          font-size: 14px;
          @include desktop_screens {
            font-size: 18px;
          }
        }
        .submit-btn {
          padding: 8px 12px;
          align-self: center;
          white-space: nowrap;
          background-color: rgb(99, 86, 251);
          color: white;
          border: none;
          border-radius: 3px;
          font-size: 16px;
          @include desktop_screens {
            font-size: 18px;
          }
        }
      }
    }
  }
}
